In [90]:
import pandas as pd

In [91]:
space = pd.read_csv('SPACE.csv')

Hello! This is an attempt at me trying to clean my data, which was my first milestone.

In [92]:
space.head()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.08,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.09,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.15,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.12,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.20,Jupiter,1.660000,2.200000,0.68,Radial Velocity

counting the total of empty cells

In [93]:
empty_cells_count = space.isnull().sum().sum()
print(f'Number of empty cells: {empty_cells_count}')

Number of empty cells: 547

In [94]:
space.isnull().sum()

name                   0
distance              17
stellar_magnitude    161
planet_type            0
discovery_year         0
mass_multiplier       23
mass_wrt              23
radius_multiplier     17
radius_wrt            17
orbital_radius       289
orbital_period         0
eccentricity           0
detection_method       0
dtype: int64

In [95]:
space.shape

(5250, 13)

In [99]:
print(space.columns)

Index(['name', 'distance', 'stellar_magnitude', 'planet_type',
       'discovery_year', 'mass_multiplier', 'mass_wrt', 'radius_multiplier',
       'radius_wrt', 'orbital_radius', 'orbital_period', 'eccentricity',
       'detection_method'],
      dtype='object')

I took a look at all the possible columns and decided to discard the ones that weren't super useful

In [100]:
columns_to_keep = [
    'name', 'distance', 'mass_multiplier', 'mass_wrt', 'radius_multiplier', 
    'radius_wrt', 'orbital_radius', 'orbital_period', 'eccentricity', 
    'discovery_year', 'detection_method'
]

space_filtered = space[columns_to_keep]
print(space_filtered.head())

                   name  distance  mass_multiplier mass_wrt  \
0  11 Comae Berenices b     304.0         19.40000  Jupiter
1    11 Ursae Minoris b     409.0         14.74000  Jupiter
2       14 Andromedae b     246.0          4.80000  Jupiter
3         14 Herculis b      58.0          8.13881  Jupiter
4          16 Cygni B b      69.0          1.78000  Jupiter

   radius_multiplier radius_wrt  orbital_radius  orbital_period  eccentricity  \
0               1.08    Jupiter        1.290000        0.892539          0.23
1               1.09    Jupiter        1.530000        1.400000          0.08
2               1.15    Jupiter        0.830000        0.508693          0.00
3               1.12    Jupiter        2.773069        4.800000          0.37
4               1.20    Jupiter        1.660000        2.200000          0.68

   discovery_year detection_method
0            2007  Radial Velocity
1            2009  Radial Velocity
2            2008  Radial Velocity
3            2002  Radial Velocity
4            1996  Radial Velocity

In [101]:
space_filtered.shape

(5250, 11)

In [102]:
space_filtered.isnull().sum()

name                   0
distance              17
mass_multiplier       23
mass_wrt              23
radius_multiplier     17
radius_wrt            17
orbital_radius       289
orbital_period         0
eccentricity           0
discovery_year         0
detection_method       0
dtype: int64

removed even more columns and added back the ones I could make interesting graphs out of

In [103]:
columns_to_keep = [
    'name', 'distance', 'mass_multiplier', 'mass_wrt', 'radius_multiplier', 'planet_type', 
    'radius_wrt', 'orbital_period', 'eccentricity', 
    'discovery_year', 'detection_method'
]

space_filtered = space[columns_to_keep]
print(space_filtered.head())

                   name  distance  mass_multiplier mass_wrt  \
0  11 Comae Berenices b     304.0         19.40000  Jupiter
1    11 Ursae Minoris b     409.0         14.74000  Jupiter
2       14 Andromedae b     246.0          4.80000  Jupiter
3         14 Herculis b      58.0          8.13881  Jupiter
4          16 Cygni B b      69.0          1.78000  Jupiter

   radius_multiplier planet_type radius_wrt  orbital_period  eccentricity  \
0               1.08   Gas Giant    Jupiter        0.892539          0.23
1               1.09   Gas Giant    Jupiter        1.400000          0.08
2               1.15   Gas Giant    Jupiter        0.508693          0.00
3               1.12   Gas Giant    Jupiter        4.800000          0.37
4               1.20   Gas Giant    Jupiter        2.200000          0.68

   discovery_year detection_method
0            2007  Radial Velocity
1            2009  Radial Velocity
2            2008  Radial Velocity
3            2002  Radial Velocity
4            1996  Radial Velocity

In [104]:
space_filtered.isnull().sum()

name                  0
distance             17
mass_multiplier      23
mass_wrt             23
radius_multiplier    17
planet_type           0
radius_wrt           17
orbital_period        0
eccentricity          0
discovery_year        0
detection_method      0
dtype: int64

turning the nas into medians

In [105]:
space_filtered = space_filtered.fillna(space_filtered.median(numeric_only=True))
space_filtered.head()

,name,distance,mass_multiplier,mass_wrt,radius_multiplier,planet_type,radius_wrt,orbital_period,eccentricity,discovery_year,detection_method
0,11 Comae Berenices b,304.0,19.40000,Jupiter,1.08,Gas Giant,Jupiter,0.892539,0.23,2007,Radial Velocity
1,11 Ursae Minoris b,409.0,14.74000,Jupiter,1.09,Gas Giant,Jupiter,1.400000,0.08,2009,Radial Velocity
2,14 Andromedae b,246.0,4.80000,Jupiter,1.15,Gas Giant,Jupiter,0.508693,0.00,2008,Radial Velocity
3,14 Herculis b,58.0,8.13881,Jupiter,1.12,Gas Giant,Jupiter,4.800000,0.37,2002,Radial Velocity
4,16 Cygni B b,69.0,1.78000,Jupiter,1.20,Gas Giant,Jupiter,2.200000,0.68,1996,Radial Velocity

In [106]:
space_filtered.isnull().sum()

name                  0
distance              0
mass_multiplier       0
mass_wrt             23
radius_multiplier     0
planet_type           0
radius_wrt           17
orbital_period        0
eccentricity          0
discovery_year        0
detection_method      0
dtype: int64

for some reason I couldn't get rid of the nulls in the two values above, and I fif the following the fix that

In [108]:
space_filtered = space_filtered.dropna(subset=['mass_wrt', 'radius_wrt'])
space_filtered.isnull().sum()

name                 0
distance             0
mass_multiplier      0
mass_wrt             0
radius_multiplier    0
planet_type          0
radius_wrt           0
orbital_period       0
eccentricity         0
discovery_year       0
detection_method     0
dtype: int64

In [110]:
space_filtered = space_filtered.drop_duplicates()
print(space_filtered.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5215 entries, 0 to 5249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5215 non-null   object
 1   distance           5215 non-null   float64
 2   mass_multiplier    5215 non-null   float64
 3   mass_wrt           5215 non-null   object
 4   radius_multiplier  5215 non-null   float64
 5   planet_type        5215 non-null   object
 6   radius_wrt         5215 non-null   object
 7   orbital_period     5215 non-null   float64
 8   eccentricity       5215 non-null   float64
 9   discovery_year     5215 non-null   int64
 10  detection_method   5215 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 488.9+ KB
None